.hide {
    display: none;
}

body {
    font-family: "Roboto",
        sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
}

input {
    font-family: inherit;
}

.main-page {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(../images/coffe-hero-bgr1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-resolution: 2x) {
    .main-page {
        background-image: linear-gradient(to bottom,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)),
            url(../images/coffe-hero-bgr1x.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
@media screen and (min-width:768px) {
    .main-page {
        max-width: 768px;
    }
}
@media screen and (min-width:1440px) {
    .main-page {
        max-width: 1440px;
    }
}
.hero {
    min-width: 320px;
    height: auto;
    padding: 108.5px 32px;
}

@media screen and (min-width:768px) {
    .hero {
        min-width: 768px;
        padding-top: 311.5px;
        padding-left: 32px;
        padding-bottom: 311.5px;
    }
}
.container {
    max-width: 375px;
}
@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
}
@media screen and (min-width:1440px) {
    .container {
        max-width: 1440px;
    }
}


.hero-text {
    text-align: start;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    font-family: Aboreto;
    font-weight: 400;
    font-style: Regular;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -1%;
    color: #ffffff;
}

@media screen and (min-width: 768px) {
    .hero-text-container {
        width: 560px;
    }
}

@media screen and (min-width:1440px) {
    .hero-text-container {
        width: 568px;
    }
    .hero-text {
        font-size: 56px;
    }
}

.hero-paragraph {
    width: 256px;;
    text-align: start;
    margin-bottom: 32px;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
}

@media screen and (min-width:768px) {}

@media screen and (min-width:1440px) {
    .hero-paragraph {
        width: 560px;
    }
}

.hero-button {
    display: inline-block;
    padding: 10px 24px;
    border-radius: 100px;
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background: #6F4E37;
    opacity: 1;

    font-family: Quicksand;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #ffffff;
}

.hero-button:active {
    box-shadow: none;
}

@media screen and (min-width:768px) {}

@media screen and (min-width:1440px) {

    .hero-button:hover,
    .hero-button:focus {
        box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
        background: #6F4E37;
        opacity: 0.5;

    }
}



.page-footer {
    max-width: 375px;
    background-color: #B58869;
    padding: 24px 16px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .page-footer {
        max-width: 768px;
        padding: 24px 32px;
    }
}

@media screen and (min-width:1440px) {
    .page-footer {
        max-width: 1440px;
        padding: 24px 64px;
    }
}

.container-footer {
    width: 100%;
    height: auto;
    padding: 32px 46px;
    background-color: #C29D84;
    border-radius: 40px;
    border: 1px solid rgba(11, 8, 3, 0.15);
    margin: 0 auto;
    margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
    .container-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 1440px) {
    .container-footer {
        display: flex;
        flex-direction: row;

    }
}

.footer-socials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-bottom: 32px;

}

@media screen and (min-width: 768px) {
    .footer-socials-container {
        width: 220px;
        flex-direction: row;
        gap: 40px
    }
}

@media screen and (min-width: 1440px) {
    .footer-socials-container {
        margin-bottom: 0;
    }
}

.footer-logo {
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .footer-logo {
        margin-bottom: 0;
        width: 84px;
        height: 36px;
    }

}

.social-list {
    gap: 12px;
}

.social-item {
    display: inline-block;
}

@media screen and (min-width: 768px) {
    .footer-social-svg {
        width: 24px;
        height: 24px;
    }
}

.nav-container {
    width: 84px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .nav-container {
        width: 100%;
    }
}

@media screen and (min-width: 1440px) {
    .nav-container {
        width: 456px;
        margin-right: 0;

    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1440px) {}

.nav-list {}

@media screen and (min-width: 768px) {
    .nav-list {
        display: flex;
        gap: 32px;
        height: 24px;
    }
}

.nav-item {
    margin-bottom: 32px;
}

.nav-item:last-child {
    margin-bottom: 0;
}

.nav-link {
    font-family: Quicksand;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #0B0803;
}

.nav-link:active {
    opacity: 0.7;
}

@media screen and (min-width: 1440px) {

    .nav-link:hover,
    .nav-link:focus {
        opacity: 0.5;
    }
}

.footer-rights {
    font-family: Quicksand;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #0B0803;
    text-align: center;
}